[Desktop Entry]
Icon=text-html
Name=https://dtf.ru/indie/1732428-pro-animacii-kak-my-ozhivlyaem-personazhei-sbornika-vizualnyh-novell-wonder-tea?utm_source=chatgpt.com
Type=Link
URL[$e]=https://dtf.ru/indie/1732428-pro-animacii-kak-my-ozhivlyaem-personazhei-sbornika-vizualnyh-novell-wonder-tea?utm_source=chatgpt.com
